  @import url('https://fonts.googleapis.com/css?family=Orbitron');   //font-family: 'Orbitron', sans-serif;

  $mozblue: #83D0F2;
  $grey: #333333;

  body {
    background: $grey;
    color: ghostwhite;

  }

  h1 {
    font-family: 'Orbitron', sans-serif;
    color: $mozblue;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 3em;
    font-weight: lighter;

  }

  #container {
    width: 100%;
    text-align: center;
  }

  span {
    text-transform: uppercase;

  }

  #circle {
    height: 20em;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 50%;
    background: #333333;
    border: 1px solid #83D0F2;
    text-align: center;
    position: relative;

    h3 {
      margin-top: 80px;
      margin-left: 52px;
      position: absolute;

    }

    #clock {
      position: absolute;
      margin-top: 140px;
      margin-left: -70px;
      font-size: 3em;

    }
  }

  #break {
    height: 5em;
    width: 10em;
    display: inline-block;

  }

  #session {
    height: 5em;
    width: 10em;
    display: inline-block;

  }

  .timerContents {
    font-size: 2em;
    padding-top: .3em;

    span {
      margin-right: .2em;
    }
  }

  #buttons {
    width: 40%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 1em;
    padding: 1em;

    :nth-child(1), :nth-child(2), :nth-child(3){
      font-size: 1em;
      margin-right: 1.2em;
      margin-left: 1.2em;
      border: 2px solid $mozblue;
      background-color: $grey;
      color: ghostwhite;
      width: 5em;
      height: 2em;
      text-transform: uppercase;

    }

    :hover {
      background-color: ghostwhite;
      color: $grey;
    }
  }


  /************ Media Queries ***********************************************/
  /* Custom, iPhone Retina */
  @media only screen and (min-width : 320px) {
    #circle {
      width: 100%;
    }

    #buttons {
      margin-top: .5em;

      :nth-child(1), :nth-child(2), :nth-child(3){
        margin-bottom: 1.5em;
      }
    }

    #break, #session {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1em;
    }
  }

  /* Extra Small Devices, Phones */    // Was 480px
  @media only screen and (min-width : 350px) {
    #circle {
      width: 90%;
    }
  }

  @media only screen and (min-width : 400px) {
    #circle {
      width: 80%;
    }
  }

  /* Small Devices, Tablets */
  @media only screen and (min-width : 768px) {
    #circle {
      width: 35%;
    }

    #break, #session {
      display: inline-block;
      margin-right: 2em;
      margin-left: 2em;
    }
  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px) {

  }

  /* Large Devices, Wide Screens */
  @media only screen and (min-width : 1200px) {
    #circle {
      width: 25%;
    }
  }
